*.pyc
*~
*.swp
tutorial/.ipynb_checkpoints/*
teaching/assignement/TotalVariation/.ipynb_checkpoints/
teaching/notebooks/.ipynb_checkpoints/
.project
.pydevproject
hippylib/unit_test/results_cg
applications/ad_diff/hmisfit
applications/ad_diff/results
applications/ad_diff/samples
applications/poisson/hmisfit
applications/poisson/results
applications/poisson/samples
teaching/python/ad_diff/results/
doc/.build
applications/*/Output*/
applications/*/old/
applications/*/old/
applications/IP-SIAug17/AcousticWave/plotmediumparameters/
applications/IP-SIAug17/AcousticWave/exple_*/
applications/IP-SIAug17/AcousticWave/joint_*/
applications/IP-SIAug17/AcousticWave/archive*/
applications/IP-SIAug17/AcousticWave/joint_poisson-acoustic/
applications/IP-SIAug17/PoissonPoisson/output/
applications/vtvpaper/*-reconstructions-*/
